# === PostgreSQL dumps / backups ===

*.sql
*.dump
*.backup

# Но оставляем миграции!

!migrations/*.sql

# === Logs ===

*.log

# === OS мусор ===

.DS_Store
Thumbs.db

# === IDE ===

.idea/
.vscode/
*.iml

# === Python (если вдруг есть) ===

**pycache**/
*.pyc

# === Node (если есть фронт) ===

node_modules/

# === Docker volumes / temp ===

pgdata/
*.pid

# === Env / secrets ===

.env

# === Temporary files ===

*.tmp
*.swp

# === DataGrip / JetBrains ===

dataSources/
dataSources.local.xml
